<?xml version="1.0" encoding="UTF-8"?>
<settings
	xmlns="http://maven.apache.org/SETTINGS/1.2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>
	<proxies></proxies>
	<servers>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>${env.PLATFORM_USERNAME}</username>
			<password>${env.PLATFORM_PASSWORD}</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>maven-default-http-blocker</id>
			<mirrorOf>external:http:*</mirrorOf>
			<name>Pseudo repository to mirror external repositories initially using HTTP.</name>
			<url>http://0.0.0.0/</url>
			<blocked>true</blocked>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>archetype-repository</id>
			<repositories>
				<repository>
					<id>archetype</id>
					<name>Mule Repository</name>
					<url>https://repository-master.mulesoft.org/nexus/content/repositories/public</url>
					<releases>
						<enabled>true</enabled>
						<checksumPolicy>fail</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>